section#footer2-12.cid-qVNcwePqYz
    .container
        .media-container-row.content.mbr-white
            .col-12.col-md-4.mbr-fonts-style.display-7
                p.mbr-text.align-center
                    strong Localització
                    br
                    br
                    | Edifici Ω, Soterrani 1, Despatx S-105
                    br
                    | Carrer de Jordi Girona, 15
                    br
                    | 08034 Barcelona, España
                    br
                    br
                    strong Contacte
                    br
                    br
                    | Email: linuxupc@linuxupc.upc.edu
                    br
                    | Phone: +1 (0) 000 0000 001
                    br
                    | Fax: +1 (0) 000 0000 002
            .col-12.col-md-3.mbr-fonts-style.display-7
                p.mbr-text.align-center
                    strong Links
                    br
                    br
                    a.text-primary(href='#') Website builder
                    br
                    a.text-primary(href='#') Download for Windows
                    br
                    a.text-primary(href='#') Download for Mac
                    br
                    br
                    strong Feedback
                    br
                    br
                    | Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.
            .col-12.col-md-6
                .google-map
                    iframe(frameborder='0', style='border:0', src='https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw', allowfullscreen='')
        .footer-lower
            .media-container-row
                .col-sm-12
                    hr
            .media-container-row.mbr-white
                .col-sm-6.copyright
                    p.mbr-text.mbr-fonts-style.display-7
                        | © Copyright 2017 Linux UPC. Some Rights Reserved.
                .col-md-6
                    .social-list.align-right
                        .soc-item
                            a(href='https://twitter.com/linuxUPC', target='_blank')
                                span.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social
                        .soc-item
                            a(href='#', target='_blank')
                                span.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social
                        .soc-item
                            a(href='#', target='_blank')
                                span.socicon-youtube.socicon.mbr-iconfont.mbr-iconfont-social
                        .soc-item
                            a(href='#', target='_blank')
                                span.socicon-instagram.socicon.mbr-iconfont.mbr-iconfont-social
                        .soc-item
                            a(href='#', target='_blank')
                                span.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social
                        .soc-item
                            a(href='#', target='_blank')
                                span.socicon-behance.socicon.mbr-iconfont.mbr-iconfont-social