
style.
    .margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
        font-size: 17px;
    }

    .carousel-item {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
    }

    .carousel-item img {
        vertical-align: middle;
    }

    .carousel-item .content {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
    }

// PROJECTS
section#gallery1-16.mbr-slider-carousel.cid-qVNdZ4j9cx(style="background-color: #C0D6E4;")
    .container
        h1 Title
        #myCarousel.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
                li.active(data-target='#myCarousel', data-slide-to='0')
                li(data-target='#myCarousel', data-slide-to='1')
                li(data-target='#myCarousel', data-slide-to='2')
            .carousel-inner
                .carousel-item.active
                    img.w-100(src='images/01.jpg', alt='First slide')
                    .content
                        h1 Title
                        p Description
                .carousel-item
                    img.w-100(src='images/02.jpg', alt='Second slide')
                    .content
                        h1 Title
                        p Description
                .carousel-item
                    img.w-100(src='images/03.jpg', alt='Third slide')
                    .content
                        h1 Title
                        p Description
            a.carousel-control-prev(href='#myCarousel', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#myCarousel', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next

        a(href="#")
            h4.align-center Més Projectes...
section.engine
//BLOGS
section#content6-11.mbr-section.content6.cid-qVNcrLXxv0.margin(style="background-color: #C0D6E4;")
    .container
        h1.margin Title
        .media-container-row.margin
            .col-4.mbr-figure(style='width: 50%;')
                img(src='images/01.jpg', alt='')
            .col-8.media-content
                .mbr-section-text
                    p.mbr-text.mb-0.mbr-fonts-style.display-7
                        strong Make your own website in a few clicks!
                        |  Mobirise helps you cut down development time by providing you with a flexible website editor with a drag and drop interface. Mobirise Website Builder creates responsive, retina and
                        em mobile friendly websites
                        |  in a few clicks. Mobirise is one of the easiest website development tools available today.
                        a.right(href="#") More...
        .media-container-row.margin
            .col-4.mbr-figure(style='width: 50%;')
                img(src='images/01.jpg', alt='')
            .col-8.media-content
                .mbr-section-text
                    p.mbr-text.mb-0.mbr-fonts-style.display-7
                        strong Make your own website in a few clicks!
                        |  Mobirise helps you cut down development time by providing you with a flexible website editor with a drag and drop interface. Mobirise Website Builder creates responsive, retina and
                        em mobile friendly websites
                        |  in a few clicks. Mobirise is one of the easiest website development tools available today.
                        a.right(href="#") More...

// ABOUT US
section#features11-x.features11.cid-qVJNzLOlYp(style="background-color: #C0D6E4;")
    .container
        .col-md-12
            .media-container-row
                .mbr-figure(style='width: 50%;')
                    img(src='images/01.jpg', alt='Mobirise')
                .align-left.aside-content
                    h2.mbr-title.pt-2.mbr-fonts-style.display-2
                        | Image with content
                    .mbr-section-text
                        p.mbr-text.mb-5.pt-3.mbr-light.mbr-fonts-style.display-5
                            |  Alguna descripción de la aso
                    //.block-content
                        .card.p-3.pr-3
                            .media
                                .media-body
                                    h4.card-title.mbr-fonts-style.display-7
                                        | Over 400 Amazing Blocks
                            .card-box
                                p.block-text.mbr-fonts-style.display-7
                                    | Mobirise offers several themes that include sliders, galleries, article blocks, counters, accordions, video, animated text, live filtered tables, shop, contact forms, lightbox, testimonials, timelines, google map, progress bars and more.
                        .card.p-3.pr-3
                            .media
                                .media-body
                                    h4.card-title.mbr-fonts-style.display-7
                                        | Easy and Simple to Use
                            .card-box
                                p.block-text.mbr-fonts-style.display-7
                                    | Cut down the development time with drag-and-drop website builder. Drop the blocks into the page, edit content inline and publish - no technical skills required.
