include libs
include layout

.container
    .row(style="margin-top: 30px; margin-bottom: 10px;")
        .col-9
            include home
        .col-3
            h1 Probando Cosas
            include sideColumn


include footer